/front/.DS_Store
/front/node_modules/
/front/dist/
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
/front/test/unit/coverage/
/front/.env

# Editor directories and files
/front/.idea
/front/.vscode
/front/*.suo
/front/*.ntvs*
/front/*.njsproj
/front/*.sln

/back/node_modules/
/back/server/config/