
/* auth */
.login_view .cont {
    max-width: 500px;
}

.login_view .cont .head {
    font-size: 30px;
    margin: 50px 0px 30px 0px;
}

.login_view .cont .card .row_input {
    margin:5px 0px;
}

/* layout */
.layout_nav ul {
    padding-top:8px;
    padding-bottom:8px;
    padding-left: 15px
}

.login_view .cont .card .row_button {
    margin:30px 0px 0px 0px;
}

/* map */
.indexmap_view {
    display: flex;
}

.indexmap_view .map_view {
    width: 100%;
}

.indexmap_view .map_view #map {
    width: 100%;
    height: 750px;
}

.indexmap_view .card {
    min-width: 300px
}

.indexmap_view .card .row_list_group {
    height: 800px;
    overflow-y: scroll;
}

.map_button_view {
    position: absolute;
    display: flex;
    z-index: 1000;
    margin-top: 20px;
    margin-left: 10px;
}

.map_button_view .cate_list {
    margin-left: 14px;
}

.map_button_view .cate_list button {
    font-size: 12px;
}

/* search result */
.row_list_group .col div button {
    margin-bottom: 5px;
}

.row_list_group .col div .sub {
    padding-left: 7%;
}

.row_list_group .col div .sub p {
    font-size: 0.8rem;
}

.row_list_group .col div .footer .score_cnt label {
    font-size: 11px;
}


@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .indexmap_view .map_view #map {
        width: 100%;
        height: 500px;
    }

    .indexmap_view {
        display: inline;
    }

    .indexmap_view .card {
        width: 100%;
    }

    .indexmap_view .card .row_list_group {
        height: 400px;
        overflow-y: scroll;
    }
}